<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="rabbitmq-default" value="host=127.0.0.1:5672;virtualHost=TestQueue;username=sa;password=123456"/>
  </appSettings>
</configuration>